:root {
    --body-main: rgb(241, 241, 241);
    --bg-main: #f8f8fa;
    
    --border-light-grey: #E5E7EB;
    --standard-black-border: thin solid black;

    --space-xs: 4px;
    --space-sm: 8px;
    --space-md: 16px;
    --space-lg: 32px;
    --space-xlg: 64px;

    --font-ui: 'Inter', sans-serif;
    --font-futuristic: 'Quantico', sans-serif;
    --font-ui2: 'Chakra Petch', sans-serif;

    --box-shadow-focus: 0 0 0 3px rgba(0, 0, 255, 0.2);
    --box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    --standard-box-padding: 8px 1rem;
}

@font-face {
    font-family: 'Inter';
    src: url(3c29b5f4fe1780828fec.woff2) format('woff2'),
        url(aa1477c6d4c571b4c549.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Quantico';
    src: url(24b48f6e57f636f8b7ed.woff2) format('woff2'),
        url(ef56865e1ef689fe39f1.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Chakra Petch';
    src: url(5acb5bb862181c0c208a.woff2) format('woff2'),
        url(31eb3e1d530cf52222ac.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    padding: var(--space-sm);
    background-color: var(--body-main);
    font-family: var(--font-ui2);
}

.main-container {
    max-width: 600px;
    margin: 0 auto;
    padding: var(--space-sm);
    background-color: var(--bg-main);
    border-radius: 8px;
    box-shadow: var(--box-shadow);
}

.loading {
    display: flex;
    align-items: center;
    gap: var(--space-sm);
    margin-bottom: var(--space-md);
}

.spinner-icon {
    width: 50px;
    height: 50px;
    display: none;
}

.weather-icon {
    width: 200px;
    height: 200px;
    margin-top: 20px;
    margin-top: 0;
}

.conditions {
    font-size: 1.5rem;
}

.input-container {
    display: flex;
    gap: var(--space-sm);
    margin-bottom: var(--space-md);
}

label {
    flex: 1;
}

#text {
    font-size: var(--font-size-standard);
    line-height: 1.5;
    border-radius: var(--space-sm);
    border: 1px solid var(--border-light-grey);
    font-family: var(--font-ui);
    background-color: white;
    box-sizing: border-box;
    padding: var(--standard-box-padding);
    cursor: text;
    width: 100%;
}

#text:focus {
    border: 1px solid blue;
    outline: none;
    box-shadow: var(--box-shadow-focus);
}

.submit {
    background-color: black;
    color: white;
    transition: background-color 0.2s ease;
    padding: var(--standard-box-padding);
    cursor: pointer;
    font-size: var(--font-size-standard);
    line-height: 1.5;
    border-radius: var(--space-sm);
    border: 1px solid var(--border-light-grey);
    font-family: var(--font-ui);
}

.submit:hover {
    background-color: rgb(51, 49, 49);
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: var(--space-lg);
}

.top-section {
    grid-column: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    grid-template-rows: auto auto;
}

.right-part {
    grid-column: 1;
    grid-row: 1 / -1;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    border: var(--standard-black-border);
    border-right: none;
    padding: var(--space-md);
    border-bottom: medium double black;
}

.left-part-1 {
    grid-column: 2;
    grid-row: 1;
    display: grid;
    grid-template-rows: auto auto;
    border: var(--standard-black-border);
    justify-items: end;
    padding: var(--space-lg) var(--space-md) var(--space-lg) 0;
    border-bottom: none;
}

.left-part-2 {
    grid-column: 2;
    grid-row: 2;
    border: var(--standard-black-border);
    border-bottom: medium double black;
    display: grid;
    grid-template-rows: 1fr auto;
    padding: var(--space-lg) var(--space-md) var(--space-lg) 40px;
    gap: var(--space-sm);
    justify-items: end;
}

.bottom-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--space-sm);
}

.left,
.right {
    display: grid;
}

.precipitation,
.humidity {
    border: medium double black;
    border-left: 0;
    border-right: 0;    
}

.weather-icon {
    grid-column: 1;
    grid-row: 1;
}

.description {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    align-items: end;
    
}

.temperature {
    font-size: 4rem;
    display: flex;
    align-items: center;
    font-family: var(--font-futuristic);
}

span {
    font-weight: bold;
}

.humidity,
.uvindex,
.precipitation,
.windspeed,
.sunrise,
.sunset {
    display: flex;
    padding: var(--space-sm);
    justify-content: space-between;
}

.windspeed,
.uvindex {
    border: medium double black;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}

.sunrise,
.sunset {
    border: medium double black;
    border-left: 0;
    border-right: 0; 
    border-top: 0;
}

p {
    margin: 0;
}

/*# sourceMappingURL=main.css.map*/